# Local service ports
KAFKA_UI_PORT=8080

# Kafka bootstrap servers
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INTERNAL_BOOTSTRAP_SERVERS=kafka:9092

# Project storage roots
STORAGE_ROOT=./storage
BRONZE_PATH=./storage/bronze
SILVER_PATH=./storage/silver
GOLD_PATH=./storage/gold
CHECKPOINT_ROOT=./storage/checkpoints

# Binance public market stream defaults for later milestones
BINANCE_WS_BASE_URL=wss://stream.binance.com:9443/stream
CRYPTO_SYMBOLS=BTCUSDT,ETHUSDT,SOLUSDT,BNBUSDT,XRPUSDT,ADAUSDT,DOGEUSDT,LINKUSDT,AVAXUSDT,MATICUSDT
BINANCE_STREAM_TYPES=trade,kline_1m,ticker
